.containe {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .right {
    flex: 1;
  }
  
  @media screen and (max-width: 768px) {
    .containe {
      flex-direction: column;
    }
  
    .left {
      height: auto;
    }
  }